* {
  font-family: "Inter";
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.gen-subtitle {
  color: #5D5A88;
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}